In [293]:
import pandas as pd
import ast, json

In [294]:
df = pd.read_csv("/home/nhan/Documents/renting/data/fake_user_data.csv").drop(['Quê quán','Thu nhập (triệu)','Khu vực mong muốn','Nghề nghiệp'],axis=1)

In [295]:
df.head()

,Tuổi tác,Giới tính,Ngân sách thuê nhà (triệu),Thói quen sinh hoạt,Yêu cầu tiện nghi,Địa điểm mục tiêu,Diện tích (m2),Số phòng
0,23,Nữ,3,Thích yên tĩnh,"['An ninh tốt', 'Máy lạnh', 'Nhà vệ sinh riêng']","{'Latitude': 23.263898, 'Longitude': 105.654865}",27,1
1,24,Nữ,5,Nuôi thú cưng,"['Nhà vệ sinh riêng', 'Bếp', 'Nội thất sẵn', '...","{'Latitude': 21.60114, 'Longitude': 102.425265}",43,2
2,21,Nữ,2,Nuôi thú cưng,"['Nhà vệ sinh riêng', 'Chỗ để xe', 'Nội thất s...","{'Latitude': 16.419646, 'Longitude': 106.183285}",20,3
3,32,Nữ,5,Không quan trọng,['Nhà vệ sinh riêng'],"{'Latitude': 22.313006, 'Longitude': 107.009253}",48,3
4,28,Nam,3,Thích yên tĩnh,"['Bếp', 'Nhà vệ sinh riêng', 'Nội thất sẵn', '...","{'Latitude': 8.948569, 'Longitude': 108.036487}",16,4

In [296]:
habits = df['Thói quen sinh hoạt'].unique()
special_hatbit = 'Không quan trọng'
habits = habits[habits != special_hatbit]
for habit in habits:
    df[habit] = df['Thói quen sinh hoạt'].apply(lambda x: 1 if x in [habit, special_hatbit] else 0)
df.drop('Thói quen sinh hoạt', axis=1, inplace=True)

In [297]:
df.head()

,Tuổi tác,Giới tính,Ngân sách thuê nhà (triệu),Yêu cầu tiện nghi,Địa điểm mục tiêu,Diện tích (m2),Số phòng,Thích yên tĩnh,Nuôi thú cưng
0,23,Nữ,3,"['An ninh tốt', 'Máy lạnh', 'Nhà vệ sinh riêng']","{'Latitude': 23.263898, 'Longitude': 105.654865}",27,1,1,0
1,24,Nữ,5,"['Nhà vệ sinh riêng', 'Bếp', 'Nội thất sẵn', '...","{'Latitude': 21.60114, 'Longitude': 102.425265}",43,2,0,1
2,21,Nữ,2,"['Nhà vệ sinh riêng', 'Chỗ để xe', 'Nội thất s...","{'Latitude': 16.419646, 'Longitude': 106.183285}",20,3,0,1
3,32,Nữ,5,['Nhà vệ sinh riêng'],"{'Latitude': 22.313006, 'Longitude': 107.009253}",48,3,1,1
4,28,Nam,3,"['Bếp', 'Nhà vệ sinh riêng', 'Nội thất sẵn', '...","{'Latitude': 8.948569, 'Longitude': 108.036487}",16,4,1,0

In [298]:
df['isMale'] = df['Giới tính'].apply(lambda x: 1 if str.lower(x).strip() == 'nam' else 0)
df.drop('Giới tính', axis=1, inplace=True)

In [299]:
df.head()

,Tuổi tác,Ngân sách thuê nhà (triệu),Yêu cầu tiện nghi,Địa điểm mục tiêu,Diện tích (m2),Số phòng,Thích yên tĩnh,Nuôi thú cưng,isMale
0,23,3,"['An ninh tốt', 'Máy lạnh', 'Nhà vệ sinh riêng']","{'Latitude': 23.263898, 'Longitude': 105.654865}",27,1,1,0,0
1,24,5,"['Nhà vệ sinh riêng', 'Bếp', 'Nội thất sẵn', '...","{'Latitude': 21.60114, 'Longitude': 102.425265}",43,2,0,1,0
2,21,2,"['Nhà vệ sinh riêng', 'Chỗ để xe', 'Nội thất s...","{'Latitude': 16.419646, 'Longitude': 106.183285}",20,3,0,1,0
3,32,5,['Nhà vệ sinh riêng'],"{'Latitude': 22.313006, 'Longitude': 107.009253}",48,3,1,1,0
4,28,3,"['Bếp', 'Nhà vệ sinh riêng', 'Nội thất sẵn', '...","{'Latitude': 8.948569, 'Longitude': 108.036487}",16,4,1,0,1

In [300]:
amenitiesRequest = list(set([r for req in df['Yêu cầu tiện nghi'].unique() for r in ast.literal_eval(req)]))

In [301]:
amenitiesRequest

['An ninh tốt',
 'Nhà vệ sinh riêng',
 'Bếp',
 'Chỗ để xe',
 'Máy lạnh',
 'Nội thất sẵn']

In [302]:
for req in amenitiesRequest:
    df[req] = df['Yêu cầu tiện nghi'].apply(lambda x: 1 if req in ast.literal_eval(x)  else 0)
df.drop('Yêu cầu tiện nghi',axis=1,inplace=True)

In [303]:
df.head()

,Tuổi tác,Ngân sách thuê nhà (triệu),Địa điểm mục tiêu,Diện tích (m2),Số phòng,Thích yên tĩnh,Nuôi thú cưng,isMale,An ninh tốt,Nhà vệ sinh riêng,Bếp,Chỗ để xe,Máy lạnh,Nội thất sẵn
0,23,3,"{'Latitude': 23.263898, 'Longitude': 105.654865}",27,1,1,0,0,1,1,0,0,1,0
1,24,5,"{'Latitude': 21.60114, 'Longitude': 102.425265}",43,2,0,1,0,0,1,1,1,0,1
2,21,2,"{'Latitude': 16.419646, 'Longitude': 106.183285}",20,3,0,1,0,0,1,0,1,0,1
3,32,5,"{'Latitude': 22.313006, 'Longitude': 107.009253}",48,3,1,1,0,0,1,0,0,0,0
4,28,3,"{'Latitude': 8.948569, 'Longitude': 108.036487}",16,4,1,0,1,1,1,1,0,0,1

In [304]:
def standardize(col):
    m, std = df[col].mean(), df[col].std()
    df[col] = df[col].apply(lambda x: (x - m) / std)

In [305]:
num_cols = ['Tuổi tác','Ngân sách thuê nhà (triệu)','Diện tích (m2)','Số phòng']
for col in num_cols:
    standardize(col)

In [306]:
df.head()

,Tuổi tác,Ngân sách thuê nhà (triệu),Địa điểm mục tiêu,Diện tích (m2),Số phòng,Thích yên tĩnh,Nuôi thú cưng,isMale,An ninh tốt,Nhà vệ sinh riêng,Bếp,Chỗ để xe,Máy lạnh,Nội thất sẵn
0,-1.003576,0.030737,"{'Latitude': 23.263898, 'Longitude': 105.654865}",-0.234872,-1.310940,1,0,0,1,1,0,0,1,0
1,-0.792342,1.460363,"{'Latitude': 21.60114, 'Longitude': 102.425265}",1.111101,-0.424571,0,1,0,0,1,1,1,0,1
2,-1.426046,-0.684076,"{'Latitude': 16.419646, 'Longitude': 106.183285}",-0.823736,0.461798,0,1,0,0,1,0,1,0,1
3,0.897537,1.460363,"{'Latitude': 22.313006, 'Longitude': 107.009253}",1.531718,0.461798,1,1,0,0,1,0,0,0,0
4,0.052597,0.030737,"{'Latitude': 8.948569, 'Longitude': 108.036487}",-1.160229,1.348167,1,0,1,1,1,1,0,0,1

In [307]:
df['Vĩ độ'] = df['Địa điểm mục tiêu'].apply(lambda x: ast.literal_eval(x)['Latitude'])
df['Kinh độ'] = df['Địa điểm mục tiêu'].apply(lambda x: ast.literal_eval(x)['Longitude'])
df.drop('Địa điểm mục tiêu',axis=1,inplace=True)

In [308]:
for col in ['Vĩ độ','Kinh độ']:
    standardize(col)

In [309]:
df.head()

,Tuổi tác,Ngân sách thuê nhà (triệu),Diện tích (m2),Số phòng,Thích yên tĩnh,Nuôi thú cưng,isMale,An ninh tốt,Nhà vệ sinh riêng,Bếp,Chỗ để xe,Máy lạnh,Nội thất sẵn,Vĩ độ,Kinh độ
0,-1.003576,0.030737,-0.234872,-1.310940,1,0,0,1,1,0,0,1,0,1.710183,-0.114955
1,-0.792342,1.460363,1.111101,-0.424571,0,1,0,0,1,1,1,0,1,1.334149,-1.673646
2,-1.426046,-0.684076,-0.823736,0.461798,0,1,0,0,1,0,1,0,1,0.162351,0.140074
3,0.897537,1.460363,1.531718,0.461798,1,1,0,0,1,0,0,0,0,1.495138,0.538708
4,0.052597,0.030737,-1.160229,1.348167,1,0,1,1,1,1,0,0,1,-1.527239,1.034479

In [310]:
len(df), len(df.columns)

(1000, 15)

In [311]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(df,test_size=0.1,random_state=42)

In [312]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
n_clusters = [3,4,5,6,7,8,9,10]
best_n = 0
best_score = -1
for n in n_clusters:
    print(f"n_clusters = {n}")
    kmeans = KMeans(n_clusters=n,n_init='auto')
    kmeans.fit(X_train)  
    score = silhouette_score(X_train, kmeans.labels_)
    print("Silhouette Score: ", score)
    if score > best_score:
        best_score = score
        best_n = n
print(f'best n = {best_n}')
kmeans = KMeans(n_clusters=best_n,n_init='auto')
kmeans.fit(X_train)

n_clusters = 3
Silhouette Score:  0.08663926779278777
n_clusters = 4
Silhouette Score:  0.08386814780765273
n_clusters = 5
Silhouette Score:  0.08422262419360035
n_clusters = 6
Silhouette Score:  0.07824021934582795
n_clusters = 7
Silhouette Score:  0.08862899379177469
n_clusters = 8
Silhouette Score:  0.0861423331058918
n_clusters = 9
Silhouette Score:  0.08664478959108521
n_clusters = 10
Silhouette Score:  0.0835557393227288
best n = 7

KMeans(n_clusters=7, n_init='auto')

In [313]:
train_labels = kmeans.labels_
test_labels = kmeans.predict(X_test)

In [314]:
X = X_train.iloc[np.where(train_labels == test_labels[0])[0]]

In [320]:
from sklearn.neighbors import NearestNeighbors
neighbors = NearestNeighbors(n_neighbors=5)
neighbors.fit(X)

NearestNeighbors()

In [321]:
distances, indices = neighbors.kneighbors(X_test.iloc[[0]])

### Test User

In [323]:
X_test.iloc[[0]]

,Tuổi tác,Ngân sách thuê nhà (triệu),Diện tích (m2),Số phòng,Thích yên tĩnh,Nuôi thú cưng,isMale,An ninh tốt,Nhà vệ sinh riêng,Bếp,Chỗ để xe,Máy lạnh,Nội thất sẵn,Vĩ độ,Kinh độ
521,0.686302,0.030737,1.279348,0.461798,1,1,0,1,0,0,1,0,1,0.710837,-1.629551

### Recommended Users

In [324]:
X.iloc[indices[0]]

,Tuổi tác,Ngân sách thuê nhà (triệu),Diện tích (m2),Số phòng,Thích yên tĩnh,Nuôi thú cưng,isMale,An ninh tốt,Nhà vệ sinh riêng,Bếp,Chỗ để xe,Máy lạnh,Nội thất sẵn,Vĩ độ,Kinh độ
996,1.320006,-0.684076,0.438114,-0.424571,1,1,0,1,0,0,1,0,1,1.245853,-1.338450
936,0.263832,-0.684076,0.606361,0.461798,1,1,0,0,0,0,0,0,1,0.994657,-1.779564
798,1.531241,0.745550,1.447595,0.461798,1,1,1,1,0,0,0,0,1,0.753432,-0.732192
151,1.531241,-0.684076,0.269868,1.348167,1,1,1,1,0,0,1,0,1,0.384985,-1.317376
250,0.897537,0.030737,0.269868,1.348167,0,1,0,1,0,0,1,1,1,0.566010,-1.013692